body {
  background-color: white;
}

.header {
  width: 100%;
  padding: 92px 50px 96px 50px;
  box-sizing: border-box;
  color: black;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header_links-list {
  height: 22px;
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.header_links-list-item {
  list-style: circle;
  list-style-position: inside;
}

.header_links-list-item_no-bullit {
  list-style: none;
}

.header_link {
  font-size: 18px;
  text-decoration: underline;
}

.header_link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.header_address {
  justify-self: end;
  align-items: flex-start;
}

.cover {
  min-height: 757px;
  width: 100%;
  padding: 165px 50px 50px 50px;
  box-sizing: border-box;
  color: white;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cover_content {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 106px;
}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.cover_title-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  width: 339px;
  align-self: center;
}

.aligned-text_right {
  text-align: right;
  width: 387px;
  align-self: flex-end;
}

.cover_description {
  display: flex;
  flex-direction: row;
  gap: 107px;
  width: 1000px;
  justify-content: space-between;
}

.cover_description-item {
  display: flex;
  margin: auto;
}

.cover_description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid currentColor;
  width: 256px;
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.lots {
  width: 1052px;
  margin: 180px 24px 120px 24px;
  box-sizing: border-box;
}

.lots_heading {
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots_cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.lots_cards-list-item {
  width: 334px;
  min-height: 596px;
  display: flex;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  color: white;
  height: 100%;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  width: 254px;
  position: relative;
  z-index: 2;
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  width: 254px;
  position: relative;
  z-index: 2;
}

.lots_look-more-link {
  color: black;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
}

.about {
  width: 1052px;
  margin: auto;
  margin-bottom: 180px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about_column_logo {
  padding-top: 35px;
}

.about_column {
  justify-self: center;
}

.about_logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo-image {
  width: 148px;
  height: 114px;
  justify-self: center;
}

.about_column_text {
  display: flex;
  flex-direction: column;
  padding-top: 136px;
}

.about_title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.about_text {
  width: 693px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about_text_paragraph-with-right-padding {
  width: 688px;
}

.footer {
  width: 1100;
  padding: 0px 50px 82px;
  box-sizing: border-box;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.footer_address {
  max-width: 265px;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer_menu-link {
  font-size: 18px;
  text-decoration: underline;
}

.footer_menu-link_active {
  font-size: 18px;
  text-decoration: none;
}

.footer_social {
  width: 240px;
  justify-self: end;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.footer_social-list-item {
  width: 48px;
  height: 48px;
}